.form {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "esq texto"
                          "esq formu";
    grid-auto-rows: 400px;
}

.form-control label{
    font-size: 20px;
}