.sucos {
    display: grid;
    grid-template-columns: 2fr 2fr ;
    grid-template-areas: "esq dir"
                         "img dir";
    grid-auto-rows: 400px;
    gap: 16px;
    padding-top: 80px;
    padding-left: 80px;
    background-color: rgb(245, 241, 236);
}

.lado-esq {
    grid-area: esq;
    border-top: solid 20px rgb(3, 133, 3) ;
}

.sucos-title {
    padding-top: 20px;
    font-size: 35px;
}

.sucos-span {
    color: rgb(38, 155, 2);
}

.sucos-btn {
    color: rgb(38, 155, 2);
    font-size: 20px;
    background-color: white;
    border: 2px solid rgb(131, 245, 131);
    border-radius: 20px;
    height: 50px;
}

.lado-dir {
    grid-area:dir;
    height: 500px;
}

.lado-esq-img {
    grid-area: img;
}

.lado-esq p {
    font-size: 20px;
}

.lado-esq-img {
    padding-top: 30px;
}

.lado-dir img {
    height: 800px;
}

